@import '../../../styles/_colors.scss';

/* @define RequestEvidence */
.RequestEvidence {
  display: flex;
  flex-direction: column;

  &-title {
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 33px;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 140px;
  }

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    width: 100%;
  }

  &-evidence {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--list {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 -5px;
      margin-bottom: 16px;
      width: 100%;
    }
  }

  &-toggle {
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 150px;
  }
}
