@import '../../styles/_colors.scss';

/* @define FilterBar */
.FilterBar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    margin: 6px 0;

    &-neon {
      border-color: $neon;
    }
  }

  &-filterSelect {
    align-content: stretch;
    display: flex;
  }

  &-my {
    display: flex;
    flex-wrap: wrap;
    margin: 7px 0;
    min-height: 30px;
    width: 40%;

    &-button {
      justify-content: center;
      margin-right: 16px;
    }
  }

  &-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 10px;
    width: 60%;

    &-button {
      justify-content: center;
      margin: 7px 0;
      margin-left: 16px;

      &-small {
        min-width: 136px;
      }

      &-medium {
        min-width: 161px;
      }

      &-large {
        min-width: 226px;
      }
    }
  }

  &-search {
    align-items: center;
    display: flex;
    margin: 19px 0;

    &-label {
      font-size: 0.9em;
      margin-left: 10px;
    }
  }

  &-count {
    font-size: 0.9em;
  }

  &-filter {
    align-items: center;
    color: $primary;
    display: flex;
    font-weight: 400;
    margin: 19px 0;

    &-label {
      font-size: 0.9em;
      font-weight: 500;
      margin-left: 10px;
    }

    &-choice {
      margin: 0 4px;
    }
  }

  &-sort {
    display: flex;
    font-size: 0.9em;

    &-label {
      margin-right: 6px;
    }

    &-margin {
      margin-right: 24px;
    }

    &-choice {
      font-weight: 500;
      margin: 0 3px;
    }
  }
}
