@import '../../styles/colors';

/* @define NavOverlay */
.NavOverlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
