@import '../../../../styles/_colors.scss';

/* @define ViewEvidence */
.ViewEvidence {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-wrap: break-word;
  width: 100%;
  word-break: break-word;

  &-form {
    margin: 0 -34px;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-information {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    text-align: start;
    width: 100%;
    word-wrap: anywhere;
  }

  &-description {
    overflow-wrap: break-word;
    width: 100%;
    word-wrap: break-word;
  }
}
