@import '../../styles/_colors.scss';

@mixin buttonType($type, $background, $hover, $active, $text, $border) {
  &--#{$type} {
    background: $background;
    border: 1px solid $border;

    &:hover {
      background: $hover;
    }

    &:active {
      background: $active;
    }

    .Button-label {
      color: $text;
    }
  }
}

/* @define Button */
.Button {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  padding: 0 1em;
  user-select: none;

  @include buttonType(
    'primary',
    linear-gradient(90deg, $lightBlue 0%, $lightGreen 100%),
    linear-gradient(90deg, $lightBlueHover 0%, $lightGreenHover 100%),
    linear-gradient(90deg, $lightBlueActive 0%, $lightGreenActive 100%),
    $invertedText,
    none
  );

  &--secondary {
    background: white;
    border: 1px solid #4a4a4a;

    &--is-disabled {
      background: $disabled;
      color: white;
    }
  }

  &--link {
    text-decoration: none;
  }

  &-label {
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--small {
    height: 30px;

    // stylelint-disable-next-line plugin/selector-bem-pattern
    .Button-label {
      font-size: 12px;
    }
  }

  &--normal {
    height: 38px;
    justify-content: center;
    // stylelint-disable-next-line plugin/selector-bem-pattern
    .Button-label {
      font-size: 0.8em;
      margin: 1em 0;

      @media only screen and (min-width: 800px) {
        font-size: 0.7em;
        margin: 1em 0;
      }
    }
  }

  &--large {
    height: 75px;

    // stylelint-disable-next-line plugin/selector-bem-pattern
    .Button-label {
      font-size: 28px;
    }
  }

  &.is-disabled {
    background: $disabled;
    cursor: not-allowed;
  }

  &-submitToken {
    margin-left: auto;

    &-icon {
      margin-right: 10px;
    }
  }
}
