@import '../../styles/_colors.scss';

/* @define PageNotFound */
.PageNotFound {
  background: #ead6fe;
  min-height: 100%;
  position: absolute;

  &-message {
    font-size: 40px;
    padding: 0;
    text-align: center;
  }
}
