@import '../../styles/_colors.scss';

/* @define BadgeGrid */
.BadgeGrid {
  display: flex;
  flex-direction: column;
  margin: 1em -14px 0 -14px;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -13px;
    padding: 0 14px;
  }

  &-loading {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
  }

  &-paging {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;

    &-numbers {
      display: flex;

      &-number {
        color: $border;
        font-size: 14px;
        font-weight: bold;
        height: 27px;
        line-height: 27px;
        text-align: center;
        vertical-align: middle;
        width: 27px;
      }

      &--current {
        background-color: $darkGrey;
        border-radius: 3px;
        color: white;
      }
    }

    &-navigation {
      display: flex;

      &-button {
        color: $border;
        font-size: 14px;
        font-weight: bold;
        margin-left: 24px;
      }

      &-clickable {
        color: $darkGrey;
      }
    }
  }
}
