@import '../../styles/_colors.scss';

/* @define NotificationBadge */
.NotificationBadge {
  cursor: pointer;
  position: relative;
  width: 40px;

  &-badge {
    background: $badgeBlue;
    border: 1px solid black;
    border-radius: 9px;
    color: $invertedText;
    font-size: 11px;
    font-weight: 500;
    height: 15px;
    left: 21px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 22px;
    transition: background-color 1s;
    user-select: none;
    width: 15px;

    &:hover {
      background: darken($badgeBlue, 20%);
    }
  }

  &-notifications {
    background: $white;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 15px 35px $shadow;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    max-height: 400px;
    padding: 31px 34px 24px 31px;
    position: absolute;
    right: calc(100% - 285px);
    top: 62px;
    width: 352px;
    z-index: 1002;

    &-box {
      overflow-y: auto;
    }

    &::after {
      border-bottom: 15px solid $white;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
      content: '';
      position: absolute;
      right: 245px;
      top: -15px;
    }

    &-title {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 23px;
    }

    &-notification {
      border-bottom: 1px solid $mint;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      height: 60px;

      &:hover {
        background: $mint;
      }

      &-icon {
        height: 21px !important;
        width: 21px !important;
      }

      &-content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-left: 21px;
        text-align: left;
        width: 100%;

        &-message {
          font-size: 14px;
        }

        &-footer {
          color: $badgeBlue;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    &-showAll {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 32.5px;
      justify-content: flex-end;
      line-height: 32.5px;
      text-align: center;
      user-select: none;

      &-down {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $border;
        height: 0;
        width: 0;
      }

      &:hover {
        background: $mint;
      }
    }
  }
}
