@import '../../styles/_colors.scss';

/* @define NotificationBadge */
.NotificationBadge {
  position: relative;
  width: 40px;

  &-badge {
    background: $badgeBlue;
    border: 1px solid black;
    border-radius: 9px;
    color: $invertedText;
    font-size: 11px;
    font-weight: 500;
    height: 15px;
    left: 21px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 22px;
    transition: background-color 1s;
    user-select: none;
    width: 15px;

    &:hover {
      background: darken($badgeBlue, 20%);
    }
  }

  &-notifications {
    background: $white;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3 6 $shadow;
    box-sizing: border-box;
    position: absolute;
    right: calc(100% - 285px);
    top: 62px;
    width: 390px;

    &::after {
      border-bottom: 15px solid $white;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
      content: '';
      position: absolute;
      right: 245px;
      top: -15px;
    }

    &-notification {
      align-items: center;
      border-bottom: 1px solid $mint;
      display: flex;
      height: 50px;

      &:hover {
        background: $mint;
      }

      &-content {
        font-size: 0.8em;
        line-height: 12px;
        width: 100%;
      }
    }

    &-showAll {
      height: 32.5px;
      line-height: 32.5px;
      text-align: center;
      user-select: none;

      &:hover {
        background: $mint;
      }
    }
  }
}
