@import '../../styles/_colors.scss';

/* @define BadgeCard */
.BadgeCard {
  background: $card;
  border: 1px solid $border;
  border-radius: 3px;
  box-shadow: 0 3px 6px $shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
  margin: 16px 14px;
  transition: 0.3s;
  width: 248px;

  &:hover {
    box-shadow: 0 6px 12px $shadowRaised;
  }

  &-header {
    align-items: center;
    background-color: #009aff;
    border-bottom: 1px solid #ebebeb;
    border-radius: 3px 3px 0 0;
    color: white;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 3px;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
  }

  &-footer {
    align-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 0 0 3px 3px;
    display: flex;
    height: 39px;
    justify-content: space-between;
    padding: 0 15px;

    &-badge {
      width: 30px;
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      text-align: center;
      width: 150px;
    }
  }

  &-image {
    height: 80px;
    object-fit: contain;
    width: 80px;
  }

  &-hidden {
    visibility: hidden;
  }
}

@media (max-width: 569px) {
  .BadgeCard {
    flex: 0 0 calc(90%);
  }
}

@media (min-width: 570px) {
  .BadgeCard {
    flex: 0 0 calc(45% - 10px);
  }
}

@media (min-width: 800px) {
  .BadgeCard {
    flex: 0 0 calc(30% - 10px);
  }
}

@media (min-width: 1200px) {
  .BadgeCard {
    flex: 0 0 calc(23% - 10px);
  }
}
