@import '../../styles/_colors.scss';

/* @define BadgeDetails */
.BadgeDetails {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0;

  &-header {
    align-items: center;
    display: flex;
    flex-direction: row;

    @media (max-width: 899px) {
      &-title {
        min-width: 0;
      }
    }

    @media (min-width: 840px) {
      &-title {
        min-width: 247px;
      }
    }

    &-divider {
      border-left: 1px solid $border;
      margin: 10px 13px 10px 0;
    }

    &-title {
      margin-left: 0;
      margin-right: 17px;
    }

    &-img {
      height: 30px;
      margin-right: 7px;
      object-fit: contain;
      width: 30px;
    }
  }

  &-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 26px 26px 26px 0;
    width: 100%;

    @media (max-width: 890px) {
      margin: 0;
      margin-top: 26px;
    }

    &-status {
      align-items: flex-start;
      display: flex;
      margin-top: 26px;
      width: 100%;

      @media (max-width: 580px) {
        flex-direction: column;
        margin: 16px 0;
      }
    }
  }

  &-img {
    height: 132px;
    margin: 26px;
    min-width: 212px;
    object-fit: contain;
    padding: 15px;

    @media (max-width: 890px) {
      margin: 0;
      margin-bottom: 26px;
    }
  }

  &-card {
    align-items: stretch;
    background: $card;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 6px $shadow;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 102px;
    width: 100%;

    &-info {
      padding: 17px 0;
    }

    &-content {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding-right: 26px;

      @media (max-width: 890px) {
        align-items: center;
        flex-direction: column;
        padding: 26px;
      }
    }
  }

  &-label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    justify-content: center;

    &-name {
      color: $darkGrey;
      font-weight: 500;
      margin: 0 0.3vw 0 0;
    }

    &-ticker {
      color: $lightGrey;
      font-weight: 400;
      margin: 0;
    }
  }

  &-divider {
    border-left: 1px solid $border;
    margin: 17px 26px 17px 0;

    @media (max-width: 890px) {
      border-top: 1px solid $border;
      margin: 0;
      width: 100%;
    }
  }

  &--link {
    color: $darkGrey;
    text-decoration: none;

    :visited {
      color: $darkGrey;
      text-decoration: none;
    }
  }

  &-meta {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    margin-left: 14px;
    padding: 0;

    @media (max-width: 620px) {
      margin-left: 0;
    }

    &--aligned {
      display: flex;
      margin: 5px 0;
      vertical-align: middle;
    }

    &-item {
      display: flex;
      margin: 7px 0;
      vertical-align: middle;
    }
  }

  &-action {
    margin-left: auto;

    @media (max-width: 620px) {
      margin-left: 0;
    }
  }

  &-icon {
    margin-right: 7px;
    margin-top: 2px;

    &-badge {
      background-image: url('../../assets/images/badge.svg');
      background-repeat: no-repeat;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      height: 25px;
      margin-right: 8px;
      padding-top: 4px;
      text-align: center;
      width: 25px;
    }
  }

  &-token {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 0;
    text-decoration: none;
  }

  &-footer {
    align-items: center;
    background-color: $darkWhite;
    display: flex;
    flex-direction: row;
    padding: 0 26px;

    @media (max-width: 620px) {
      flex-direction: column;
      padding: 26px;
    }

    &-short {
      font-size: 14px;
      min-width: 212px;
      text-align: center;
      white-space: pre-line;

      @media (max-width: 890px) {
        display: none;

        &-divider {
          display: none;
        }
      }

      &-divider {
        border-left: 1px solid $border;
        height: 100%;
        margin: 10px 13px 10px 26px;
      }
    }
  }

  &-timer {
    color: $darkerRed;
    display: flex;
    font-size: 14px;
  }

  &-crowdfundingBar {
    width: 180px;

    @media (max-width: 1000px) {
      width: 120px;
    }

    @media (max-width: 839px) {
      width: 250px;
    }

    @media (max-width: 450px) {
      width: 200px;
    }

    @media (max-width: 330px) {
      width: 140px;
    }
  }
}

/* @define BadgeDescription */
.BadgeDescription {
  display: flex;
  flex-direction: column;

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    width: 100%;
  }

  &-evidence {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px;

    &--list {
      display: flex;
    }

    &--item {
      color: $badgeBlue;
      cursor: pointer;
      margin-right: 12px;
    }
  }

  &--icon {
    margin-right: 14px;

    &--badge {
      background-image: url('../../assets/images/badge.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      margin-right: 10px;
      text-align: center;
      width: 40px;
    }
  }

  &-badge-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 7px 0 10px 0;
  }
}
