@import '../../styles/_colors.scss';

/* @define BadgeDetails */
.BadgeDetails {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0;

  &-header {
    align-items: center;
    display: flex;

    &-title {
      margin-right: 2vw;
    }

    &-img {
      height: 30px;
      margin-right: 0.5vw;
      object-fit: contain;
      width: 30px;
    }
  }

  &-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 26px 26px 17px 0;
    width: 100%;
  }

  &-img {
    height: 132px;
    margin: 26px;
    min-width: 212px;
    object-fit: contain;
    padding: 15px;
  }

  &-card {
    align-items: stretch;
    background: $card;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 6px $shadow;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 102px;

    &-info {
      padding: 17px 0;
    }

    &-content {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
    }
  }

  &-label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    justify-content: center;

    &-name {
      color: $darkGrey;
      font-weight: 500;
      margin: 0 0.3vw 0 0;
    }

    &-ticker {
      color: $lightGrey;
      font-weight: 400;
      margin: 0;
    }
  }

  &-divider {
    border-left: 1px solid $border;
    margin: 17px 26px 17px 0;
  }

  &--link {
    color: $darkGrey;
    text-decoration: none;

    :visited {
      color: $darkGrey;
      text-decoration: none;
    }
  }

  &-meta {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    padding: 0;

    &--aligned {
      margin: 5px 0;
      vertical-align: middle;
    }
  }

  &-icon {
    margin-right: 7px;

    &-badge {
      background-image: url('../../assets/images/badge.svg');
      background-repeat: no-repeat;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      height: 25px;
      margin-right: 8px;
      padding-top: 4px;
      text-align: center;
      width: 25px;
    }
  }

  &-token {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 14px;
    text-decoration: none;
  }

  &-footer {
    align-items: center;
    background-color: $darkWhite;
    display: flex;
    flex-direction: row;
    height: 58px;
  }

  &-timer {
    color: $darkerRed;
    font-size: 14px;
  }
}

/* @define BadgeDescription */
.BadgeDescription {
  display: flex;
  flex-direction: column;

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    width: 100%;
  }

  &-evidence {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--list {
      display: flex;
    }

    &--item {
      color: $badgeBlue;
      cursor: pointer;
      margin-right: 12px;
    }
  }

  &--icon {
    margin-right: 14px;

    &--badge {
      background-image: url('../../assets/images/badge.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      margin-right: 10px;
      text-align: center;
      width: 40px;
    }
  }

  &-badge-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 7px 0 10px 0;
  }
}
