// Bases
$absoluteBlack: #000;
$grey: #3d464d;
$lightGrey: #a3a2a5;
$darkGrey: #4a4a4a;
$darkestGrey: #1a1b23;
$mint: #f5f8fa;
$green: #47cf73;
$red: #ff364f;
$orange: #ffbe61;
$blue: #0059ab;
$white: #fff;
$darkerWhite: #f2f2f2;

$lightBlue: #0ab3bd;
$lightGreen: #37e3ba;
$lightBlueHover: rgb(7, 157, 165);
$lightGreenHover: rgb(51, 207, 171);

// States
$disabled: $darkGrey;
$info: $blue;
$warning: $orange;
$success: $green;
$error: $red;

// Typography
$heading: $darkestGrey;
$text: $grey;
$lightText: $lightGrey;
$mediumText: $darkGrey;
$darkText: $darkestGrey;
$invertedText: $white;

// Backgrounds
$background: $white;
