// Bases
$absoluteBlack: #000;
$grey: #3d464d;
$lightGrey: #a3a2a5;
$darkGrey: #4a4a4a;
$darkerGrey: #ebebeb;
$darkestGrey: #1a1b23;
$mint: #f5f8fa;
$green: #47cf73;
$red: #ff364f;
$orange: #f66e0c;
$blue: #0059ab;
$white: #fff;
$darkerWhite: #f2f2f2;
$neon: #0bb4bd;
$badgeBlue: #009aff;

$lightBlue: #0ab3bd;
$lightGreen: #37e3ba;
$lightBlueHover: #079da5;
$lightGreenHover: #33cfab;
$lightBlueActive: #068d94;
$lightGreenActive: #2eb495;

$primary: $neon;

// States
$disabled: $darkGrey;
$info: $blue;
$warning: $orange;
$success: $green;
$error: $red;

// Typography
$heading: $darkestGrey;
$text: $grey;
$lightText: $lightGrey;
$mediumText: $darkGrey;
$darkText: $darkestGrey;
$invertedText: $white;

// Backgrounds
$background: $white;
$overlay: hsla(0, 0%, 0%, 0.302);

$buttonBorder: #4a4a4a;
$inputBorder: #d9d9d9;

// Cards
$shadow: rgba(105, 105, 105, 0.5);
$card: $white;
$border: #ccc;
$action: #f8f8f8;
