// Bases
$absoluteBlack: #000;
$klerosPurple: #1e075f;
$klerosPurpleDark: #170547;
$klerosPurpleLight: #4d00b4;
$grey: #3d464d;
$lightGrey: #a3a2a5;
$darkGrey: #4a4a4a;
$darkerGrey: #ebebeb;
$darkestGrey: #1a1b23;
$mint: #f5f8fa;
$green: #47cf73;
$red: #ff364f;
$darkerRed: #f60c36;
$orange: #f66e0c;
$blue: #0059ab;
$white: #fff;
$darkerWhite: #f2f2f2;
$primaryBlue: #009aff;
$badgeBlue: #009aff;
$darkWhite: #fafafa;

$lightBlue: #009aff;
$lightGreen: #009aff;
$lightBlueHover: #1c94e4;
$lightGreenHover: #1c94e4;
$lightBlueActive: #2aaaff;
$lightGreenActive: #2aaaff;

$primary: $primaryBlue;

// States
$disabled: $darkGrey;
$info: $blue;
$warning: $orange;
$success: $green;
$error: $red;

// Typography
$heading: $darkestGrey;
$text: $grey;
$lightText: $lightGrey;
$mediumText: $darkGrey;
$darkText: $darkestGrey;
$invertedText: $white;

// Backgrounds
$background: $white;
$overlay: hsla(0, 0%, 0%, 0.302);

$buttonBorder: #4a4a4a;
$inputBorder: #d9d9d9;

// Cards
$shadow: rgba(105, 105, 105, 0.5);
$shadowRaised: rgba(105, 105, 105, 0.3);
$card: $white;
$border: #ccc;
$action: #f8f8f8;
