@import '../../styles/_colors.scss';

/* @define SearchBar */
.SearchBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 19px 0;
  width: 100%;

  &-box {
    display: flex;
    width: 100%;
  }

  &-input {
    border: none;
    font-size: 0.9em;
    margin-left: 10px;
    outline: none;
    width: 100%;
  }

  &-results {
    background: $card;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 6px $shadow;
    margin-left: 10px;
    margin-top: 30px;
    max-height: 350px;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    z-index: 1;
  }
}
