@import '../../styles/_colors.scss';

/* @define Tokens */
.Tokens {
  align-items: center;
  background-color: $darkerWhite;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 9%;
}
