@import '../../styles/_colors.scss';

/* @define Tokens */
.Tokens {
  align-items: stretch;
  background-color: $darkerWhite;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 9%;
  padding: 1em;
}

/* @define TokenGrid */
.TokenGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}
