@import '../../styles/_colors.scss';

/* @define TokenCard */
.TokenCard {
  background: $card;
  border: 1px solid $border;
  border-radius: 3px;
  box-shadow: 0 3px 6px $shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 16px 13px;
  width: 248px;

  &-header {
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 3px;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &-footer {
    background-color: #f8f8f8;
    display: flex;
    height: 39px;

    &-badge {
      width: 30px;
    }
  }

  &-image {
    height: 90px;
  }
}
