@import '../../styles/_colors.scss';

/* @define TokenCard */
.TokenCard {
  background: $card;
  border: 1px solid $border;
  border-radius: 3px;
  box-shadow: 0 3px 6px $shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 16px 14px;
  position: relative;
  width: 248px;

  &-statusOverlay {
    align-items: center;
    background: $action;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition: opacity 0.25s ease-in-out;
    width: 100%;

    &-icon {
      height: 59px !important;
      width: 59px !important;
    }

    .TokenCard:hover & {
      opacity: 1;
    }
  }

  &-header {
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 3px;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &-footer {
    align-items: center;
    background-color: #f8f8f8;
    display: flex;
    height: 39px;
    padding-left: 10px;

    &-badge {
      background-repeat: no-repeat;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      height: 25px;
      margin-right: 8px;
      padding-top: 4px;
      text-align: center;
      width: 25px;
    }
  }

  &-image {
    height: 90px;
    object-fit: contain;
    width: 90px;
  }

  &-hidden {
    visibility: hidden;
  }
}

@media (min-width: 400px) {
  .TokenCard {
    flex: 0 0 calc(45% - 10px);
  }
}

@media (min-width: 800px) {
  .TokenCard {
    flex: 0 0 calc(30% - 10px);
  }
}

@media (min-width: 1200px) {
  .TokenCard {
    flex: 0 0 calc(23% - 10px);
  }
}
