@import '../../styles/colors';

/* @define NavBar */
.NavBar {
  align-items: center;
  background: $klerosPurple;
  display: flex;
  height: 55px;
  justify-content: center;
  left: 0;
  padding: 0 2.4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @media only screen and (max-width: 950px) {
    padding: 0 8%;
  }

  @media only screen and (max-width: 950px) {
    padding: 0 3%;
  }

  &-logo {
    height: 40px;
    width: 40px;
  }

  &-kleros {
    align-items: center !important;
    color: $white;
    display: flex !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    white-space: nowrap;
  }

  &-route {
    align-items: center !important;
    color: $white;
    display: flex !important;
    flex: 0 1;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-left: 11px;
    text-decoration: none;
    white-space: nowrap;

    &-title {
      font-weight: 500;
      margin-left: 0;
      padding: 0 20px;
    }

    &.is-active {
      border-bottom: 4px solid $info;
    }
  }

  &-extra {
    align-items: center;
    display: flex !important;
    line-height: 70px;
    margin-left: 40px;

    &.is-mobile {
      justify-content: flex-end;
      margin-right: 40px;
    }

    &--first {
      margin-left: auto;
      text-align: center;
    }
  }

  &-icon {
    background: $white;
  }

  &-burgerMenu {
    left: 0;
    top: 0;

    &-itemList {
      background: $klerosPurple;
    }

    &-overlay {
      left: 0;
      top: 0;
    }
  }

  &-hamburger {
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    display: inline-block;
    height: 18px;
    left: 16px;
    margin-right: 0.3em;
    position: absolute;
    width: 1.45em;
  }

  &-hamburger::before {
    border-top: 3px solid #fff;
    content: "";
    left: 0;
    position: absolute;
    top: 0.3em;
    width: 100%;
  }

  &-submit {
    position: absolute;
    right: 16px;
  }

  &-submenu {
    cursor: pointer;
    height: 55px;
    min-width: 100px;
    position: relative;

    &-list {
      background: $klerosPurple;
      display: none;
      left: -10px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 55px;
    }

    &:hover &-list {
      display: block;
    }

    &-item:hover {
      background: $klerosPurpleDark;
    }
  }
}
