@import '../../../styles/_colors.scss';

/* @define BadgeDetailsCard */
.BadgeDetailsCard {
  &-info {
    align-items: center;
    border-left: 1px solid #ccc;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    margin: 17px;
    margin-right: 0;
    padding: 17px;
    padding-right: 0;
    width: 435px;

    @media (max-width: 889px) {
      border-left: 0;
      margin: 10px;
      padding: 0;
      width: 100%;
    }
  }
}
