@import '../../styles/_colors.scss';

/* @define FilterBar */
.FilterBar {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  margin-top: 10px;

  &-top {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    margin: 6px 0;

    &-primaryBlue {
      border-color: $primaryBlue;
    }
  }

  &-filterSelect {
    align-content: stretch;
    display: flex;
    display: -webkit-flex;

    @media (max-width: 590px) {
      flex-wrap: wrap;
    }
  }

  &-my {
    display: flex;
    display: -webkit-flex;
    margin: 7px 0;
    min-height: 30px;

    @media (max-width: 820px) {
      flex-wrap: wrap;
      margin: 0;
    }

    @media (max-width: 590px) {
      width: 100%;
    }

    &-button {
      justify-content: center;
      margin-right: 16px;

      @media (max-width: 590px) {
        margin-bottom: 7px;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  &-status {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 600px;

    @media (max-width: 590px) {
      width: 100%;
    }

    &-button {
      justify-content: center;
      margin: 7px 0;
      margin-left: 16px;

      &-small {
        min-width: 136px;

        @media (max-width: 590px) {
          margin: 0;
          margin-bottom: 7px;
          min-width: 0;
          width: 100%;
        }
      }

      &-medium {
        min-width: 161px;

        @media (max-width: 590px) {
          margin: 0;
          margin-bottom: 7px;
          min-width: 0;
          width: 100%;
        }
      }

      &-large {
        min-width: 226px;

        @media (max-width: 590px) {
          margin: 0;
          margin-bottom: 7px;
          min-width: 0;
          width: 100%;
        }
      }
    }
  }

  &-search {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    margin: 19px 0;
  }

  &-count {
    font-size: 0.9em;
  }

  &-filter {
    align-items: center;
    color: $primary;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    font-weight: 400;
    margin: 19px 0;

    &-label {
      font-size: 0.9em;
      font-weight: 500;
      margin-left: 10px;
    }

    &-choice {
      margin: 0 4px;
    }
  }

  &-sort {
    display: flex;
    display: -webkit-flex;
    font-size: 0.9em;

    &-label {
      margin-right: 6px;
    }

    &-margin {
      margin-right: 24px;
    }

    &-choice {
      font-weight: 500;
      margin: 0 3px;
    }
  }
}
