@import '../../../../styles/_colors.scss';

/* @define SubmitEvidence */
.SubmitEvidence {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-form-fieldset {
    margin: 0 0 !important;
    padding: 0 0 !important;
  }

  &-actions {
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-header {
    align-items: center;
    background-color: $klerosPurpleLight;
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: center;
    width: 100%;

    &-title {
      color: $invertedText;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }

    &-icon {
      align-self: flex-start;
      color: white;
      height: 38px;
      margin-left: 16px;
      position: absolute;
      width: 38px;
    }
  }
}
