@import '../../../../styles/_colors.scss';

/* @define SubmitEvidence */
.SubmitEvidence {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-form-fieldset {
    margin: 0 0 !important;
    padding: 0 0 !important;
  }

  &-actions {
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
