@import '../../styles/_colors.scss';

/* @define IncorrectNetwork */
.IncorrectNetwork {
  background: $mint;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 42px 60px 52px 73px;

  @media (max-width: 580px) {
    flex-direction: column;
    padding: 0;
    padding-top: 40px;

    &-logo {
      margin: 0 20%;
    }

    &-content {
      margin: 0 20%;
    }
  }

  &-logo {
    height: 105px;
    margin-left: 56px;
    width: 100px;
  }

  &-content {
    flex: 1 1;
    margin-left: 56px;
  }
}
