@import '../../../styles/_colors.scss';

/* @define SearchItem */
.SearchItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 15px;
  padding: 5px;

  &:hover {
    background-color: $darkerGrey;
  }

  &-text {
    display: flex;
    flex-direction: column;

    &-title {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    &-address {
      font-size: 0.8em;
    }
  }

  &-symbol {
    height: 20px;
    margin-right: 15px;
    object-fit: contain;
    width: 20px;
  }
}
