@import '../../styles/_colors.scss';

/* @define FilePicker */
.FilePicker {
  align-items: center;
  border: 1px solid $lightGrey;
  border-radius: 4px;
  border-style: dashed;
  box-shadow: 0 2px 0 0 $mint;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-around;
  margin: 8px 0;
  position: relative;
  width: 100%;

  &-uploadInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
  }

  &-filePreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 14px;
    width: 100%;
  }

  &-icon {
    height: 20px;
    width: 20px !important;
  }
}
