@import '../../styles/_colors.scss';

/* @define FilePicker */
.FilePicker {
  align-items: center;
  border: 1px solid $lightGrey;
  border-radius: 4px;
  border-style: dashed;
  box-shadow: 0 2px 0 0 $mint;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 16px;
  position: relative;
  width: 100%;

  &-uploadInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }

  &-icon {
    height: 20px;
    width: 20px !important;
  }
}
