@import '../../../../styles/_colors.scss';

/* @define Challenge */
.Challenge {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  &-form {
    margin-top: 12px;

    &-fieldset {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  &-icon {
    margin-left: -25px;
    margin-right: 12px;
  }

  &-cost {
    display: flex;
    display: -webkit-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
  }

  &-fees {
    display: flex;
    display: -webkit-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    text-align: start;

    &-line {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.15;
      margin: 0;
      padding: 0;
    }
  }

  &-bottom {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
  }

  &-return {
    flex: 1 0 0;
  }

  &-request {
    flex: 3 0 0;
    margin-left: 16px;
  }
}
