@import '../../../styles/_colors.scss';

/* @define Badges */
.Badges {
  display: flex;
  flex-direction: column;

  &-separator {
    border-color: $darkerGrey;
    border-width: 1px;
    width: 100%;
  }

  &-info {
    @media (max-width: 510px) {
      max-width: 140px;
    }
  }

  &-badge-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 26px 0 10px 0;
  }

  &-cards {
    display: flex;
    margin: 0 -15px;
  }
}
